/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jun. 2022, 17:07:03
    Author     : Andra Mckenzie Araya
*/
.container {
    height:100vh;
    width:100%;
    background-image: url(../images/fondo-home1.jpg);
    background-position:center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position:relative;
}
